<div class="row">
    <div class="col-md-12">
        <div class="">
            <div class="x_content">
                <div class="row">
                    <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-caret-square-o-right"></i>
                            </div>
                            <div class="count">
                                1
                            </div>

                            <h3>Tuesday Orders</h3>
                            <p><a href="/admin/transactions/tuesday">More Info ..</a></p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-comments-o"></i>
                            </div>
                            <div class="count">
                                2
                            </div>

                            <h3>Thursday Orders</h3>
                            <p><a href="admin/transactions/thursday">More Info ..</a></p>
                        </div>
                    </div>
                    <div class="animated flipInY col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        <div class="tile-stats">
                            <div class="icon"><i class="fa fa-sort-amount-desc"></i>
                            </div>
                            <div class="count">
                               3
                            </div>

                            <h3>Saturday Orders</h3>
                            <p><a href="admin/transactions/saturday">More Info ..</a></p>
                        </div>
                    </div>
                    <!-- <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="tile-stats">
                <div class="icon"><i class="fa fa-check-square-o"></i>
                </div>
                <div class="count">179</div>

                <h3>New Sign ups</h3>
                <p>Lorem ipsum psdea itgum rixt.</p>
            </div>
            </div> -->
                </div>
            </div>
        </div>
    </div>
</div>